<div class="container mt-4">
  <h2>
    Stupid Coaching
  </h2>
  <form action="/answer" method="get" data-turbo="false">
      <label for="inputQuestion" class="form-label">Ask your coach anything</label>
    <div class="d-flex">
      <input type="text" class="form-control" id="inputQuestion" name="question">
      <button type="submit" class="btn btn-primary btn-lg" id="ask">Ask</button>
    </div>
  </form>
</div>
